* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Logo img {
    width: 350px;
}

.DarkModeImg {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 7vh;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

header {
    background-color: #282828;
    color: white;
    padding: 5px;
}

.Barra {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right:5rem;
}

.Barra li {
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    transition: 0.5s;
}

.Barra a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.Estoy {
    background-color: #f0f0f042;
    border-radius: 10px;
}

.Barra li:hover {
    scale: 1.15;
}

.Barra li a:hover {
    transition: 0.5s;
    background-color: #f0f0f042;
    border-radius: 10px;
}

.Separador {
    border-top: 4px solid #000;
    margin: 5vh 0;
}

.Encabezado {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    margin: 8vh 35px;
}

.ConoceSobreNosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.CoSoNoFoto {
    width: 350px;
    height: 300px;
}

.CoSoNoTexto {
    padding: 20px;
    width: 57%;
    text-align: left;
}

.MasSobreNosotros {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10vh;
    justify-content: center;
}

.Art {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    transition: 0.2s;
    flex: 1 1 100px;
}

.Art:hover {
    background-color: #f0f0f087;
    scale: 1.05;
    transition: 0.2s;
}

.Art figcaption {
    padding: 30px;
    font-size: 22px;
}

.Art img {
    width: 15vh;
    height: 15vh;
}

footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 1rem 1rem 1.5rem;
    margin-top: 2rem;
}

.Derechos {
    margin-top: 15px;
}

.Menu {
    display: flex;
    flex-wrap: wrap;
}

.Menu li {
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    transition: 0.5s;
}

.Menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.Menu li:hover {
    scale: 1.15;
}

.Menu li a:hover {
    transition: 0.5s;
    background-color: #f0f0f042;
    border-radius: 10px;
}